.section_about{
  position: absolute;
  background: linear-gradient(rgba(#181818 , .57), rgba(#181818 , .57) ),url("../images/pic/background/color_bg.png") top no-repeat;
  background-size: 100% 90%;
  opacity: 1;
  transition: 0.5s;
  overflow: hidden;
  width: 100%;
  padding: 14.55vw 1.41vw 0 0;
}

.section_about:after{
  content: '';
  width: 50%;
  height: 59%;
  border: 1px solid rgba(199, 198, 198, 0.1);
  border-radius: 664px;
  position: absolute;
  top: 62px;
  right: 30%;
}

.section_about:before{
  content: '';
  width: 1px;
  height: 100%;
  background:  rgba(#c7c6c6, .1);
  border-radius: 500px;
  position: absolute;
  top: 38px;
  right:40%;
}

.about_title{

}
.flex--row{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.about__content{
  @include font_gilroi_light(300,1.02vw,#efeeee);
  line-height: 1.72vw;
  padding: 2vw 0 3.20vw;
  max-width: 25.47vw;
}

