.section_about{
  position: absolute;
  background: linear-gradient(rgba(#181818 , .57), rgba(#181818 , .57) ),url("../images/pic/background/color_bg.jpg") center no-repeat;
  background-size: cover;
  opacity: 0;
  transition: 0.5s;
  overflow: hidden;
  width: 100%;
}

.section_about:after{
  content: '';
  width: 591px;
  height: 591px;
  border: 1px solid rgba(#c7c6c6, .1);
  border-radius: 500px;
  position: absolute;
  top: 38px;
  right: 30%;
}

.section_about:before{
  content: '';
  width: 1px;
  height: 100%;
  background:  rgba(#c7c6c6, .1);
  border-radius: 500px;
  position: absolute;
  top: 38px;
  right:40%;
}

.flex--row{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.about__content{
  @include font_gilroi_light(300,13px,#fff);
  line-height: 22px;
  padding-bottom: 41px;
}

.about_inner{
  padding: 190px 18px 205px 0;
}