.business{
  position: absolute;
  opacity: 1;
  transition: 1s;
  background-position: center;
  width: 100%;
  z-index: -1;
  background-color: #181818;
}

.aside__networks-link--mail{
  width:0.86vw;
}

.business__card{
  background: url("../images/pic/background/card.jpg") no-repeat center;
  height: 100vh;
  width: 34.5vw;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 4.69vw;
  transform: translateY(-50px);
  padding-bottom: 3.91vw;

}
.business__card:last-child{
  padding-right: 4.69vw;

}

.business__inner{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 0;
  padding-bottom: 3.91vw;
  width: 101%;
}
.business__inner>.slick-list{
  padding: 0;
  margin: 0;
}
.business__inner>.slick-arrow{
  display: none;
}

.business__name{
  @include font_gilroy_exbold(400,1.09vw,#fff);
  padding-bottom: 1.56vw;
}



.slick-initialized .slick-slide {
  display: flex;
}

.business__about{
  @include font_gilroi_light(300,1.02vw,#efeeee);
  line-height: 1.72vw;
  padding-bottom: 1.48vw;
}

.business__content{
  max-width: 17.42vw;
  position: relative;
  z-index: 5;
}

.business__content::before{
  content: '';
  position: absolute;
  width: 166px;
  height: 166px;
  background-color: #f53434;
  opacity: 0.1;
  border-radius: 200px;
  display: block;
  top: -65px;
  left: -30px;
}

.business__number:hover{
  color: #ff4343 ;
}

.business__number:hover>span{
  color: #ff4343 ;
}

.business__inner_contact{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  padding-top: 1.56vw;
}

.aside~.main>.business.active{
  background-color: rgba(24, 24, 24, 1);
}