.section_footer{
  position: fixed;
  z-index: 10;
  background-color: #131313;
  padding:  3.69vw 0;
  width: 100%;
  bottom: -100%;
  transition: .2s;
}
.footer_up header {
  top: -12.109375vw;
}



.footer__content{
  @include font_gilroi_light(300,1.02vw,#fff);
  line-height: 1.56vw;
}

.footer__content:hover ,
.footer__content:hover>.footer__link,
.footer__content:hover>.footer__link>.footer__link--bold,
.footer__content:hover .footer__mail
{
  color: #ff4343 ;
  border-color: #ff4343;
}

.footer__inner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__link--underline{
  border-bottom: 1px solid #fff;
}
.footer_up footer {
  bottom: 0;
}

.footer__link{
  @include font_gilroi_light(300,1.02vw,#fff);
  line-height: 1.72vw;
  transition: 1s;
}

.footer__link--bold{
  @include font_gilroy_exbold(400,1.02vw,#fff);
  transition: 1s;
}

