.section_more_article{
  background: linear-gradient(rgba(#181818 , .8), rgba(#181818 , .8) ), url("../images/pic/background/grey_bg.png") top  no-repeat ;
  padding: 8.20vw 0 0 0 ;
  position: absolute;
  background-size: 100% 90%;
  opacity: 1;
  transition: 0.5s;
  width: 100%;
  overflow: hidden;
}