.practice{
  background:linear-gradient(rgba(#181818 , .8), rgba(#181818 , .8) ), url("../images/pic/background/grey_bg.png") no-repeat ;
  background-size: 100% 90%;
  padding: 8.53vw 0 0 0;
  position: absolute;
  opacity: 1;
  transition: 0.5s;
  background-position: center top;
  width: 100vw;
}

.practice:before{
  content: '';
  width: 543px;
  height: 591px;
  border: 1px solid rgba(#c7c6c6, .1);
  position: absolute;
  border-radius: 400px;
  top: 27px;
  right: -40px;

}
.practice:after{
  content: '';
  width: 1px;
  height: 100%;
  background: rgba(#c7c6c6, .1);
  position: absolute;
  top: 0;
  right: 410px;
  z-index: 1;
}

.practice__inner{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.practice__content{
  overflow: hidden;
  text-overflow: ellipsis;
  @include font_gilroi_light(300,1.02vw,#efeeee);
  line-height: 1.72vw;
}

.practice__title-content{
  @include font_gilroy_exbold(400,1.09vw,#fff);
  line-height: 1.56vw;
  padding: 1.56vw 0;
}

.practice__about:hover .practice__title-content{
  color: #ff4343;
}

.practice__indicator{
  width: 3.91vw;
  height: 3.91vw;
  border: 1px solid rgba(#c5c5c5, .3);
  position: relative;

}

.practice__indicator:after{
  content: '';
  width: 1.25vw;
  height: 0.47vw;
  display: inline-block;
  background: url("../images/pic/icons/arrow.png") no-repeat center;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  background-size: cover;
  position: absolute;
}
.practice__about:hover .practice__indicator:after{
  display: none;
}

.practice__about:hover .practice__indicator:before{
  content: '';
  width: 0.7vw;
  height: 0.63vw;
  display: inline-block;
  background: url("../images/pic/icons/plus.png") no-repeat center;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  background-size: cover;
  position: absolute;;
}
.practice__about{
  padding: 0 0 5.13vw 0;
  cursor: pointer;
  position: relative;

}
