.section_trust{
  padding: 7.03vw 0 0 0;
  position: absolute;
  width: 100%;
  opacity: 1;
  transition: 0.5s;
  background: linear-gradient(rgba(#181818 , .57), rgba(#181818 , .57) ),url("../images/pic/background/color_bg.png") no-repeat;
  background-size: 100% 95%;
  background-position: top;

}

.trust__img--red{
  display: none;
}


.trust__card {
  margin-bottom: 20px;
  height: 16.06vw;
  max-width: 23.44vw;
  border: 1px solid #efeeee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.trust__inner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
}

.trust__card:hover{
  border: 1px solid #ff4343;
}

.trust__card:hover .trust__img{
  display: none;
}

.trust__card:hover .trust__img--red{
  display: inline-block;
}


