.section_trust{
  padding: 90px 0 80px 0;
  position: relative;
  background: linear-gradient(rgba(#181818 , .57), rgba(#181818 , .57) ),url("../images/pic/background/color_bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.trust__img--red{
  display: none;
}

.trust__title{
  @extend .about_title;
}
.trust__card {
  margin-bottom: 20px;
  height: 180px;
  width: 300px;
  border: 1px solid #efeeee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.trust__inner{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
}

.trust__card:hover{
  border: 1px solid #ff4343;
}

.trust__card:hover .trust__img{
  display: none;
}

.trust__card:hover .trust__img--red{
  display: inline-block;
}