<section class="error">
    <div class="container ">
        <div class="error__inner ">
            <h5 class="error__title ">
                <span class="error__content">
                4
                </span>
                <span class="title__ellipse">

                </span>
                <span class="error__content">
                4
                </span>
            </h5>
        </div>
        <div class="error__inner-btn">
            <a href="index.html" class="error__btn">
                На главную
            </a>
        </div>
    </div>
</section>