<section class="section_about">
    <div class="container">
        <div class="aside__inner-visibility flex--row">
            <div class="about_inner col-4 col-md-6">
                <h2 class="about_title">
                    О компании
                </h2>
                <p class="about__content">
                    Адвокаты нашей компании оказывают правовую поддержку как обычных граждан, так и организаций или индивидуальных предпринимателей по самым разным отраслям права.
                </p>
                <button class="more-btn">
                    Читать больше
                    <span class="arrow-btn">
                    →
                </span>
                </button>
            </div>
        </div>
    </div>
</section>