<section class="section_about section  sec2  " id="about">
    <div class="container">
        <div class=" flex--row">
            <div class="about_inner  col-md-6 col-sm-10">
                <h2 class="about_title title ">
                    О компании
                </h2>
                <p class="about__content ">
                    Адвокаты нашей компании оказывают правовую поддержку как обычных граждан, так и организаций или индивидуальных предпринимателей по самым разным отраслям права.
                </p>
                <button class="more-btn ">
                    Читать больше
                    <span class="arrow-btn">

                </span>
                </button>
            </div>
        </div>
    </div>
</section>