<aside class="aside">
    <div class="aside__header-mobile col-12">
        <figure class="header__logo">
            <a href="http://kost.agency" target="_blank" class="aside__logo-link">
                <img src="images/logos/logo.png" alt="img" class="aside__img">
            </a>
        </figure>
        <div ></div>
        <div class="aside__burger " >
            <div class="aside__burger-item"></div>
            <div class="aside__burger-item"></div>
            <div class="aside__burger-item"></div>
        </div>
    </div>
    <figure class="aside__inner-img">
        <a href="http://kost.agency" target="_blank" class="aside__logo-link">
            <img src="images/logos/logo.png" alt="img" class="aside__img">
        </a>
        <a href="http://kost.agency" target="_blank" class="aside__logo-link aside__logo-link--hover">
            <img src="images/logos/logo_red.png" alt="img" class="aside__img">
        </a>
    </figure>
    <div class="aside__inner-visibility">
        <div class="aside__inner-language">
            <button class="aside__language">
                Укр
            </button>
            <button class="aside__language">
                Рус
            </button>
            <button class="aside__language">
                Анг
            </button>
        </div>
        <nav class="aside__nav">
            <a href="#about" class="aside__nav-link">
                О нас
            </a>
            <a href="#practice" class="aside__nav-link">
                Практики
            </a>
            <a href="#news" class="aside__nav-link">
                Блог
            </a>
            <a href="#footer" class="aside__nav-link">
                Контакты
            </a>
        </nav>
        <div class="aside__inner-btn">
            <button class="aside__btn ">
                Заказать консультацию
            </button>
            <button class="aside__btn">
                Подписать договор
            </button>
        </div>
        <div class="aside__inner-networks">
            <a href="https://m.facebook.com" target="_blank" class="aside__networks-link">
                <img src="images/pic/icons/facebook.png" alt="img" class="aside__networks-img">
            </a>
            <a href="https://www.linkedin.com/" target="_blank" class="aside__networks-link">
                <img src="images/pic/icons/linkedin.png" alt="img" class="aside__networks-img">
            </a>
            <a href="https://www.youtube.com" target="_blank" class="aside__networks-link">
                <img src="images/pic/icons/youtube.png" alt="img" class="aside__networks-img">
            </a>
        </div>
    </div>
</aside>
