<section class="consultation">
    <div class="language__close" id="consultation__close">
        <div class="cv__close-item cv__close-item--top"></div>
        <div class="cv__close-item cv__close-item--bottom"></div>
    </div>
    <div class="container">
        <div class="consultation__inner">
            <h3 class="consultation__title">
                Заказать консультацию
            </h3>
            <p class="consultation__content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod
            </p>
            <form action="" class="consultation__form">
                <input type="text" class="consultation__name" placeholder="Ваше имя">
                <input type="tel"  placeholder="Телефон"
                       pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
                       minlength="13"
                       maxlength="13" class="consultation__phone" placeholder="Ваш телефон">
                <input type="email" class="consultation__email" placeholder="Ваш e–mail">
                <button class="consultation__btn">
                    Отправить
                    <span class="arrow-btn">

                </span>
                </button>
            </form>
        </div>
    </div>
</section>