<section class="sv" id="cv">
    <div class="cv__close" id="cv__close">
        <div class="cv__close-item cv__close-item--top"></div>
        <div class="cv__close-item cv__close-item--bottom"></div>
    </div>
    <div class="container">
        <div class="cv__inner">
            <h3 class="cv__title">
                Резюме
            </h3>
            <p class="cv__content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod
            </p>
            <form action="" class="cv__form">
                <p class="cv__form-content">
                    Выберете файл резюме на вашем  компютере
                </p>
                <p class="cv__form-warning">
                    Допустимые форматы файлов: dog, docx, rtf, pdf, odt, txt
                </p>
                <div class="cv__inner-btn">
                    <label class="file_upload">
                        <span class="button">Загрузить резюме</span>
                        <span class="file_upload__span">+</span>
                        <input class="cv__file" type="file">
                    </label>
                    <button class="more-btn cv__btn">
                        Отправить
                        <span class="arrow-btn">

                </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>