
<footer class="section_footer footer">
    <div class="container container--footer inner-visibility">
        <div class="footer__inner">
            <div class="footer__content-box col-2 col-md-12">
                <p class="footer__content">
                    ©2018. Kachura lawyers.<br>
                    Все права защищены
                </p>
            </div>
            <div class="footer__content-box col-2 col-md-12 order-4">
                <a href="https://www.google.com.ua/maps/search/%D0%B3.%D0%9A%D0%B8%D0%B5%D0%B2,+%D1%83%D0%BB%D0%B8%D1%86%D0%B0+%D0%A1%D0%B5%D1%87%D0%B5%D0%B2%D1%8B%D1%85+%D1%81%D1%82%D1%80%D0%B5%D0%BB%D1%8C%D1%86%D0%BE%D0%B2,+%D0%B4%D0%BE%D0%BC+77,+%D0%BE%D1%84%D0%B8%D1%81+728/@50.456727,30.486306,17z/data=!3m1!4b1" target="_blank"  class="footer__content">
                    г.Киев, улица Сечевых стрельцов,<br>
                    дом 77, офис 728
                </a>
            </div>
            <div class="footer__content-box col-2 col-md-12 order-3">
                <p class="footer__content footer__content--flex">
                    <a href="tel:+380443383388" class="footer__link">
                        +380 <span class="footer__link footer__link--bold" >44</span> 338 33 88
                    </a><br>
                    <a href="mailto:kachuralawyers@gmail.com" target="_blank" class="footer__mail order-3">
                        kachuralawyers@gmail.com
                    </a>
                </p>
            </div>
            <div class="footer__content-box col-2 col-md-12 order-5">
                <p class="footer__content">
                    <a href="#" class="footer__link footer__link--underline">
                        Информационное<br>
                        предупреждение
                    </a>
                </p>
            </div>
            <figure class="footer__logo col-1 col-md-12">
                <a href="http://kost.agency" target="_blank"  class="footer__link ">
                    <img src="images/logos/footer_logo.png" alt="img" class="footer__logo-img">
                </a>
            </figure>
        </div>
    </div>
</footer>