@@include('../templates/aside.html')
<div class="main">
<section class="header section sec1  active" id="header">
<div class="container ">
    <div class="header__after"></div>
        <p class="header__corporation delay-1">
            Адвокатское бюро
        </p>
        <h2 class="header__title delay-2" >
            Kachura Lawyers
        </h2>
        <p class="header__services delay-3">
            Срочная юридическая<br>
            помощь
        </p>
    </div>
    <figure class="header__inner inner-visibility">
        <img src="images/pic/icons/arrow_white.png" alt="img" class="header__arrow header__arrow--top">
        <img src="images/pic/icons/mouse.png" alt="img" class="header__mouse">
        <img src="images/pic/icons/arrow_white.png" alt="img" class="header__arrow">
    </figure>

</section>