<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Document</title>
	<meta name="description" content="">
	<meta name="keywords" content=" ">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TestTasckKost</title>
	<link rel="stylesheet" type="text/css" href="./css/fonts.css">
	<link rel="stylesheet" type="text/css" href="./css/base.css">
	<link rel="stylesheet" type="text/css" href="./css/slick.css"/>
	<link rel="stylesheet" type="text/css" href="./css/slick-theme.css"/>
	<link rel="stylesheet" type="text/css" href="./css/style.css">

<body>

