<section class="header">
    <div class="container">
        <div class="aside__inner-visibility">
            <p class="header__corporation">
                Адвокатское бюро
            </p>
            <h2 class="header__title">
                Kachura Lawyers
            </h2>
            <p class="header__services">
                Срочная юридическая<br>
                помощь
            </p>
        </div>
    </div>
    <figure class="header__inner">
        <img src="images/pic/icons/mouse.png" alt="img" class="header__mouse">
        <img src="images/pic/icons/arrow_white.png" alt="img" class="header__marrow">
    </figure>
</section>