<section class="info">
    @@include('../templates/aside_one-block.html')
    <div class="info__exit">
        <a href="index.html" class="info__exit-link"></a>
    </div>
    <div class="container flex--start slider_inner">
        <div class=" info__inner">
            <figure class="info__box-img">
                <img src="images/pic/background/info.png" alt="img" class="info__img">
            </figure>
            <div class="info__container">
                <p class="info__head-content">
                    Административное право
                </p>
                <h3 class="info__title">
                    Эмфитевзис: владелец
                    не теряет право
                    собственности
                    на землю
                </h3>
                <p class="info__content">
                    Блокчейн катализировал процессы трансформации Web 2.0 в Web 3.0. Поисковики, мессенджеры, хранение и передача данных – все активно мигрирует на так называемую Distributed Ledger Technology (DLT). Параллельно с этим, криптовалюта открыла новый виток развития рынка капиталов, предложив свободный доступ к трейдингу и привлечению инвестиций (Initial Coin Offering), а также ликвидировав посредников.
                </p>
            </div>
        </div>
        <div class=" info__inner">
            <figure class="info__box-img">
                <img src="images/pic/background/info.png" alt="img" class="info__img">
            </figure>
            <div class="info__container">
                <p class="info__head-content">
                    Административное право
                </p>
                <h3 class="info__title">
                    Эмфитевзис: владелец
                    не теряет право
                    собственности
                    на землю
                </h3>
                <p class="info__content">
                    Блокчейн катализировал процессы трансформации Web 2.0 в Web 3.0. Поисковики, мессенджеры, хранение и передача данных – все активно мигрирует на так называемую Distributed Ledger Technology (DLT). Параллельно с этим, криптовалюта открыла новый виток развития рынка капиталов, предложив свободный доступ к трейдингу и привлечению инвестиций (Initial Coin Offering), а также ликвидировав посредников.
                </p>
            </div>
        </div>
        <div class=" info__inner">
            <figure class="info__box-img">
                <img src="images/pic/background/info.png" alt="img" class="info__img">
            </figure>
            <div class="info__container">
                <p class="info__head-content">
                    Административное право
                </p>
                <h3 class="info__title">
                    Эмфитевзис: владелец
                    не теряет право
                    собственности
                    на землю
                </h3>
                <p class="info__content">
                    Блокчейн катализировал процессы трансформации Web 2.0 в Web 3.0. Поисковики, мессенджеры, хранение и передача данных – все активно мигрирует на так называемую Distributed Ledger Technology (DLT). Параллельно с этим, криптовалюта открыла новый виток развития рынка капиталов, предложив свободный доступ к трейдингу и привлечению инвестиций (Initial Coin Offering), а также ликвидировав посредников.
                </p>
            </div>
        </div>
    </div>
</section>