<section class="section_news section sec5"  id="news">
    <div class="container inner-visibility">
        <h2 class="news__title title ">
            Новости
        </h2>
        <div class="news__inner ">
            <div class="news__container">
                <article class="news__item  col-12 col-md-12 ">
                    <div class="news__header ">
                        <h3 class="news__header-title ">
                            Lorem ipsum dolor
                        </h3>
                    </div>
                    <div class="news__content ">
                        <p class="news__time ">
                            10.03.18
                        </p>
                        <a href="info.html" class="news__content-head ">
                            Эмфитевзис: владелец не теряет право
                            собственности на землю
                        </a>
                        <p class="news__content-item ">
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor....
                        </p>
                    </div>
                </article>
            </div>
            <div class="news__container">
                <article class="news__item col-12  col-md-12">
                    <div class="news__header ">
                        <h3 class="news__header-title ">
                            Lorem ipsum dolor
                        </h3>
                    </div>
                    <div class="news__content ">
                        <p class="news__time ">
                            10.03.18
                        </p>
                        <a href="info.html" class="news__content-head ">
                            Эмфитевзис: владелец не теряет право
                            собственности на землю
                        </a>
                        <p class="news__content-item ">
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor....
                        </p>
                    </div>
                </article>
            </div>
            <div class="news__container">
                <article class="news__item  col-12 col-md-12">
                    <div class="news__header ">
                        <h3 class="news__header-title ">
                            Lorem ipsum dolor
                        </h3>
                    </div>
                    <div class="news__content ">
                        <p class="news__time ">
                            10.03.18
                        </p>
                        <a href="info.html" class="news__content-head ">
                            Эмфитевзис: владелец не теряет право
                            собственности на землю
                        </a>
                        <p class="news__content-item">
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor....
                        </p>
                    </div>
                </article>
            </div>
            <div class="news__container">
                <article class="news__item col-12  col-md-12">
                    <div class="news__header ">
                        <h3 class="news__header-title ">
                            Lorem ipsum dolor
                        </h3>
                    </div>
                    <div class="news__content ">
                        <p class="news__time ">
                            10.03.18
                        </p>
                        <a href="info.html" class="news__content-head ">
                            Эмфитевзис: владелец не теряет право
                            собственности на землю
                        </a>
                        <p class="news__content-item ">
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor....
                        </p>
                    </div>
                </article>
            </div>
            <div class="news__container">
                <article class="news__item  col-12 col-md-12">
                    <div class="news__header ">
                        <h3 class="news__header-title ">
                            Lorem ipsum dolor
                        </h3>
                    </div>
                    <div class="news__content ">
                        <p class="news__time ">
                            10.03.18
                        </p>
                        <a href="info.html" class="news__content-head ">
                            Эмфитевзис: владелец не теряет право
                            собственности на землю
                        </a>
                        <p class="news__content-item ">
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor....
                        </p>
                    </div>
                </article>
            </div>
        </div>
        <div class="news__container-btn ">
            <a href="news_page.html" class="more-btn">
                Читать больше
                <span class="arrow-btn">

                </span>
            </a>
            <div class="news__slider">
                <button class="news__slider-btn news__slider-btn--prev  prev">

                </button>
                <button class="news__slider-btn news__slider-btn--next  next">

                </button>
            </div>
        </div>
    </div>
</section>
<div class="number_section">
    <p class="number_section__top">01</p>
    <p class=" number_section__bottom number_section__bottom--1">01</p>
    <p class=" number_section__bottom number_section__bottom--2">02</p>
    <p class="number_section__bottom number_section__bottom--3">03</p>
    <p class="number_section__bottom number_section__bottom--4">04</p>
    <p class="number_section__bottom number_section__bottom--5">05</p>
</div>
</div>
@@include('../templates/footer.html')


