<section class="section_news">
    <div class="container">
        <h2 class="news__title">
            Новости
        </h2>
        <div class="news__inner ">
            <article class="news__item  col-4 col-sm-12 ">
                <div class="news__header">
                    <h3 class="news__header-title">
                        Lorem ipsum dolor
                    </h3>
                </div>
                <div class="news__content">
                    <time class="news__time">
                        10.03.18
                    </time>
                    <h5 class="news__content-head">
                        Эмфитевзис: владелец не теряет право
                        собственности на землю
                    </h5>
                    <p class="news__content-item">
                        Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor....
                    </p>
                </div>
            </article>
            <article class="news__item  col-4 col-sm-12">
                <div class="news__header">
                    <h3 class="news__header-title">
                        Lorem ipsum dolor
                    </h3>
                </div>
                <div class="news__content">
                    <time class="news__time">
                        10.03.18
                    </time>
                    <h5 class="news__content-head">
                        Эмфитевзис: владелец не теряет право
                        собственности на землю
                    </h5>
                    <p class="news__content-item">
                        Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor....
                    </p>
                </div>
            </article>
            <article class="news__item  col-4 col-sm-12">
                <div class="news__header">
                    <h3 class="news__header-title">
                        Lorem ipsum dolor
                    </h3>
                </div>
                <div class="news__content">
                    <time class="news__time">
                        10.03.18
                    </time>
                    <h5 class="news__content-head">
                        Эмфитевзис: владелец не теряет право
                        собственности на землю
                    </h5>
                    <p class="news__content-item">
                        Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit, sed do eiusmod tempor....
                    </p>
                </div>
            </article>

        </div>
        <div class="news__container-btn ">
            <button class="more-btn">
                Читать больше
                <span class="arrow-btn">
                    →
                </span>
            </button>
            <div class="news__slider">
                <button class="news__slider-btn back">
                    ←
                </button>
                <button class="news__slider-btn forward">
                    →
                </button>
            </div>
        </div>
    </div>
</section>