
<section class="news-page  active"  >
    @@include('../templates/aside_one-block.html')
    <div class="container inner-visibility">
        <h2 class="news-page__title title ">
            Новости
        </h2>
        <ul class="news-page__inner-practice col-7 ">
            <li class="news-page__practice_title practice1 ">
                <a href="#practice1" class="news-page__link">
                    Практика 01
                </a>
            </li>
            <li class="news-page__practice_title practice2">
                <a href="#practice2" class="news-page__link">
                    Практика 02
                </a>
            </li>
            <li class="news-page__practice_title practice3">
                <a href="#practice3" class="news-page__link">
                    Практика 03
                </a>
            </li>
            <li class="news-page__practice_title practice4">
                <a href="#practice4" class="news-page__link">
                    Практика 04
                </a>
            </li>
            <li class="news-page__practice_title practice5">
                <a href="#practice5" class="news-page__link">
                    Практика 05
                </a>
            </li>
        </ul>
        <div class="news-page__select-inner">
            <select class="news-page__inner-select col-7"onChange="if(this.options[this.selectedIndex].value!=''){window.location=this.options[this.selectedIndex].value}else{this.options[selectedIndex=0];}">
                <option  value="#practice1" class="news-page__practice_option practice1 ">
                        Практика 01
                </option>
                <option  value="#practice2"class="news-page__practice_option practice2">
                        Практика 02
                </option>
                <option value="#practice3" class="news-page__practice_option practice3">
                        Практика 03
                </option>
                <option value="#practice4" class="news-page__practice_option practice4">
                        Практика 04
                </option>
                <option  value="#practice5" class="news-page__practice_option practice5">
                        Практика 05
                </option>
            </select>
        </div>
        <div class="news_page__inner  col-12">
            <div class="inner">
                <article class="news__item  news-page__item col-12 col-sm-12 " id="practice1">
                    <div class="news__header">
                        <h3 class="news__header-title ">
                            Практика 01
                        </h3>
                    </div>
                    <div class="news__content news__content--one_block">
                        <p class="news__time ">
                            10.03.18
                        </p>
                        <h5 class="news__content-head ">
                            Эмфитевзис: владелец не теряет право
                            собственности на землю
                        </h5>
                        <p class="news__content-item ">
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor....
                        </p>
                    </div>
                </article>
            </div>
            <div class="inner">
                <article class="news__item  news-page__item col-12 col-sm-12 " id="practice2">
                    <div class="news__header">
                        <h3 class="news__header-title ">
                            Практика 01
                        </h3>
                    </div>
                    <div class="news__content news__content--one_block">
                        <p class="news__time ">
                            10.03.18
                        </p>
                        <h5 class="news__content-head ">
                            Эмфитевзис: владелец не теряет право
                            собственности на землю
                        </h5>
                        <p class="news__content-item ">
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor....
                        </p>
                    </div>
                </article>
            </div>
            <div class="inner">
                <article class="news__item  news-page__item col-12 col-sm-12 " id="practice3">
                    <div class="news__header">
                        <h3 class="news__header-title">
                            Практика 01
                        </h3>
                    </div>
                    <div class="news__content news__content--one_block ">
                        <p class="news__time ">
                            10.03.18
                        </p>
                        <h5 class="news__content-head ">
                            Эмфитевзис: владелец не теряет право
                            собственности на землю
                        </h5>
                        <p class="news__content-item ">
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor....
                        </p>
                    </div>
                </article>
            </div>
            <div class="inner">
                <article class="news__item  news-page__item col-12 col-sm-12 " id="practice4">
                    <div class="news__header">
                        <h3 class="news__header-title ">
                            Практика 01
                        </h3>
                    </div>
                    <div class="news__content news__content--one_block">
                        <p class="news__time ">
                            10.03.18
                        </p>
                        <h5 class="news__content-head ">
                            Эмфитевзис: владелец не теряет право
                            собственности на землю
                        </h5>
                        <p class="news__content-item ">
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor....
                        </p>
                    </div>
                </article>
            </div>
            <div class="inner">
                <article class="news__item  news-page__item col-12 col-sm-12 " id="practice5">
                    <div class="news__header">
                        <h3 class="news__header-title ">
                            Практика 01
                        </h3>
                    </div>
                    <div class="news__content news__content--one_block">
                        <p class="news__time ">
                            10.03.18
                        </p>
                        <h5 class="news__content-head ">
                            Эмфитевзис: владелец не теряет право
                            собственности на землю
                        </h5>
                        <p class="news__content-item ">
                            Lorem ipsum dolor sit amet, consectetur
                            adipisicing elit, sed do eiusmod tempor....
                        </p>
                    </div>
                </article>
            </div>
        </div>
        <div class="news-page__container-btn ">
            <div class="news__slider news__slider--one_block">
                <button class="news__slider-btn news__slider-btn--prev prev col-6">

                </button>
                <button class="news__slider-btn news__slider-btn--next next col-6">

                </button>
            </div>
        </div>
    </div>
</section>



