
<section class="practice section sec3" id="practice" >
    <div class="container ">
        <div class="inner-visibility">
            <h2 class="practice__title title ">
                Практики
            </h2>
            <div class="practice__inner">
                <article class="practice__about col-4 col-sm-5">
                    <div class="practice__indicator  "></div>
                    <a href="#" class="practice__link">
                        <h5 class="practice__title-content ">
                            Административное право
                        </h5>
                        <p class="practice__content col-10 ">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...


                        </p>
                    </a>
                </article>
                <article class="practice__about col-4 col-sm-5">
                    <div class="practice__indicator "></div>
                    <a href="#" class="practice__link">
                        <h5 class="practice__title-content ">
                            Административное право
                        </h5>
                        <p class="practice__content col-10 ">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...

                        </p>
                    </a>
                </article>
                <article class="practice__about col-4 col-sm-5">
                    <div class="practice__indicator "></div>
                    <a href="#" class="practice__link">
                        <h5 class="practice__title-content ">
                            Административное право
                        </h5>
                        <p class="practice__content col-10 ">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...

                        </p>
                    </a>
                </article>
                <article class="practice__about col-4 col-sm-5">
                    <div class="practice__indicator "></div>
                    <a href="#" class="practice__link">
                        <h5 class="practice__title-content ">
                            Административное право
                        </h5>
                        <p class="practice__content col-10 ">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...

                        </p>
                    </a>
                </article>
                <article class="practice__about col-4 col-sm-5">
                    <div class="practice__indicator "></div>
                    <a href="#" class="practice__link">
                        <h5 class="practice__title-content ">
                            Административное право
                        </h5>
                        <p class="practice__content col-10 ">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...

                        </p>
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>