<section class="section_trust section sec4">
    <div class="container inner-visibility">
        <h2 class="trust__title title">
            Нам доверяют
        </h2>
        <div class="trust__inner">
            <aside class="trust__card col-4 col-lg-5">
                <figure class="trust__logo">
                    <a href="http://kost.agency" class="trust__link">
                        <img src="images/logos/logo.png" alt="img" class="trust__img">
                        <img src="images/logos/logo_red.png" alt="img" class=" trust__img trust__img--red">
                    </a>
                </figure>
            </aside>
            <aside class="trust__card col-4 col-lg-5">
                <figure class="trust__logo">
                    <a href="http://kost.agency" class="trust__link">
                        <img src="images/logos/logo.png" alt="img" class="trust__img">
                        <img src="images/logos/logo_red.png" alt="img" class=" trust__img trust__img--red">
                    </a>
                </figure>
            </aside>
            <aside class="trust__card col-4 col-lg-5">
                <figure class="trust__logo">
                    <a href="http://kost.agency" class="trust__link">
                        <img src="images/logos/logo.png" alt="img" class="trust__img">
                        <img src="images/logos/logo_red.png" alt="img" class=" trust__img trust__img--red">
                    </a>
                </figure>
            </aside>
            <aside class="trust__card col-4 col-lg-5">
                <figure class="trust__logo">
                    <a href="http://kost.agency" class="trust__link">
                        <img src="images/logos/logo.png" alt="img" class="trust__img">
                        <img src="images/logos/logo_red.png" alt="img" class=" trust__img trust__img--red">
                    </a>
                </figure>
            </aside>
            <aside class="trust__card col-4 col-lg-5">
                <figure class="trust__logo">
                    <a href="http://kost.agency" class="trust__link">
                        <img src="images/logos/logo.png" alt="img" class="trust__img">
                        <img src="images/logos/logo_red.png" alt="img" class=" trust__img trust__img--red">
                    </a>
                </figure>
            </aside>
            <aside class="trust__card col-4 col-lg-5">
                <figure class="trust__logo">
                    <a href="http://kost.agency" class="trust__link">
                        <img src="images/logos/logo.png" alt="img" class="trust__img">
                        <img src="images/logos/logo_red.png" alt="img" class=" trust__img trust__img--red">
                    </a>
                </figure>
            </aside>
        </div>
    </div>
</section>